<h2 class="content-block">Invoices</h2>

<dx-data-grid
  id="gridContainer"
  [dataSource]="employees"
  keyExpr="ID"
  [showBorders]="true"
  [allowColumnReordering]="true"
  [focusedRowEnabled]="true"

>
  <dxi-column dataField="Prefix" [width]="70" caption="Title"></dxi-column>
  <dxi-column dataField="FirstName"></dxi-column>
  <dxi-column dataField="LastName"></dxi-column>
  <dxi-column dataField="Position" [width]="170"></dxi-column>
  <dxi-column dataField="State" [width]="125"></dxi-column>
  <dxi-column dataField="BirthDate" dataType="date"></dxi-column>

  <dxo-master-detail
    [enabled]="true"
    template="employees">
  </dxo-master-detail>

  <div *dxTemplate="let employee of 'employees'">
    <div> {{ employee.data.FirstName + " " + employee.data.LastName + "'s Tasks:"}} </div>
    <detail-grid [key]="employee.key"></detail-grid>
  </div>
</dx-data-grid>
